@import "colors";

#allDropDown{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
}



.dropDownItem{
    text-align: center;
    border-color: $mainColor;
    border: solid;
    appearance: none;
    width: 55vw;
    height: 6vh;
    color: $mainColor;
    background-color: $textColor;
    font-size: 5vw;
    border-radius: 10px;

        &:hover{
            cursor: pointer;
        }
}

.dropDownItem:focus{
    outline: none;
}

@media screen and (min-width: 1024px){
    .dropDownItem{
        width: 20vw;
        height: 6vh;
        font-size: 2vw;

    }

    #allDropDown{
        flex-direction: row ;
        flex-wrap: wrap;
    }
}
