@import "colors";

#allDropDown{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-bottom: 4vh;
}



.dropDownItem{
    text-align: center;
    border-color: $mainColor;
    border: solid;
    appearance: none;
    width: 55vw;
    height: 6vh;
    color: $mainColor;
    background-color: $textColor;
    font-size: 5vw;
    border-radius: 10px;
}

.dropDownItem:focus{
    outline: none;
}

