@font-face {
    font-family: "mainFont";
    src: url(/fonts/JosefinSlab-VariableFont_wght.ttf) format('woff2');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family:"mainFontIt";
    src: url(/fonts/JosefinSlab-Italic-VariableFont_wght.ttf) format('woff2');
    font-weight: 100 900;
    font-style: italic;
}