@import "colors";
/* #navDesk{
    display: none;
} */
img{
    max-width: 100px;
    height: auto;
    color: $textColor;
}

header{display: grid;}

#navDesk{
    display: none;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: $mainColor;
}

.hamburgerMenu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;

    span{
        height: 5px;
        width: 100%;
        background-color: $textColor;
        border-radius: 25PX;
        position: absolute;
        top: 50%;
        right:20%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
        
    }

    span:nth-child(1){
        top: 25%;
    }

    span:nth-child(3){
        top: 75%;
    }
}

.hamburgerMenu.active{

    span:nth-child(1){
        top: 50%;
        transform:translate(-50%, -50%) rotate(45deg);
    }

    span:nth-child(2){
       opacity: 0;
    }

    span:nth-child(3){
        top: 50%;
        transform:translate(-50%, -50%) rotate(-45deg);
     }
}





.hamburgerOff{
    background-color: $secColor;
    height: 100vh;
    width: 100%;
    max-width: 80vw;
    position: fixed;
    top: 0;
    right: -1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: .3s ease;
    color: $textColor;
    ul{
        li{
            margin: 10vh;
            list-style: none;

            a{
                text-decoration: none;
            }

            a:visited{
                color: $textColor;
            }
        }
    }
}



.hamburgerOff.active{
    right: 0;
}


@media screen and (min-width: 1024px){
    .hamburgerOff{
        display: none;
    }

    .hamburgerMenu{
        span{
            display: none;
        }
    }

    nav{
        display: flex;
        height: 10vh;
        #navDesk{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 3vw;
            font-family: Arial, Helvetica, sans-serif;


            a{
                text-decoration: none;
                color: $textColor;
            }
            a:hover {
                cursor: pointer; /* Ändert den Cursor in einen Finger bei Hover */
              }
        }

        img{
         
            max-width: 150px;
           
        }

        
        
    }
}