
*{
    padding: 0px;
    margin: 0px;
}

html{
    min-height: 100vh;
}

#content{
    display: grid;
}

main{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 2vh auto;
}