
@use "style";
@import"abstract/colors";

main{
    grid-template-areas:
    "about about about about about";
    padding: 10vw;
}

p{
    grid-area: about;
}

@media screen and (min-width: 1024px){

.text{
    font-size: 40px;
}

}