@use "style";
@import"abstract/colors";

main{
grid-template-areas:
"faq faq faq faq faq"
"faq faq faq faq faq"
"faq faq faq faq faq"
"faq faq faq faq faq"
"faq faq faq faq faq";
padding: 5vw;
}


#faq{
    grid-area: faq;
}