@use "style";
@import"abstract/colors";

main{
    grid-template-areas: 
    ". allDropDown allDropDown allDropDown ."
    ". . . . ."
    ". startbutton startbutton startbutton .";

}

#startbutton{
grid-area: startbutton;
width: 25vw;
height: fit-content;
font-size: 8vw;
justify-self: center;
}

#allDropDown{
    grid-area: allDropDown;
    justify-self: center;

}