@use "style";
@import"abstract/colors";

main{
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    "inputform inputform inputform inputform inputform"
    "inputform inputform inputform inputform inputform"
    "inputform inputform inputform inputform inputform";
}



#inForm2{
    grid-area: inputform;
    justify-self: center;
}
