@use "style";
@import"abstract/colors";

main{
    height: 100vh;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "text text text text text"
    "inputform inputform inputform inputform inputform";


}

p{
    grid-area: text;
}

input{
    border-style: none;
    background-color: $inputcolor;
    border-radius: 5px;
}

.wrong {
    border: 1px solid red;
}

#inForm1{
    grid-area: inputform;
    justify-self: center;
}

.hideActiv{
    display: none;
}
