@use "style";
@import"abstract/colors";

main{
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    "text text text text text"
    "text text text text text"
    ". buttons buttons buttons .";

}

#imgCon{

    display: none;
}

#text{
    grid-area: text;
    margin-top: 5vw;
    margin-left: 5vw;
}

#thx{
    grid-area: text;
    margin-top: 5vw;
    margin-left: 5vw;
}

#buttons{
    grid-area: buttons;
}

#title{
    font-size: 4vw;
}


#courseOutput{
    font-size: 10vw;
    font-weight: bold;
}

#dateOutput{
    font-size: 3vw;
}

.textForm{
    font-size: 5vw;
}

@media screen and (min-width: 1024px){

    main{
        padding-bottom: 2vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "text text img img"
        "text text img img"
        "buttons buttons img img"
        "buttons buttons img img"
        "buttons buttons img img";
    
    }

    #imgCon{
        grid-area: img;
        min-width: 40vw;
    }

    #courseOutput{
        font-size: 4vw;

    }

    .textForm{
        font-size: 2vw;
    }

    #text{
        margin-top: 10vw;
    }

    #thx{
        font-size: 50px;
    }

    #buttons{
        flex-direction:column-reverse;
        gap: 1vw;
        margin: 0px;
        align-items: center;

            #confirmButton{
                width: 20vw;
                height: 8vw;
            }

    }

}