@use "style";
@import"abstract/colors";

main{
    grid-template-areas: 
    ". . . . ."
    ". . . . ."
    "text text text text text"
    "text text text text text"
    ". buttons buttons buttons .";

}

#text{
    grid-area: text;
    margin-top: 5vw;
    margin-left: 5vw;
}

#thx{
    grid-area: text;
    margin-top: 5vw;
    margin-left: 5vw;
}

#buttons{
    grid-area: buttons;
}

#title{
    font-size: 4vw;
}


#courseOutput{
    font-size: 10vw;
    font-weight: bold;
}

#dateOutput{
    font-size: 3vw;
}

.textForm{
    font-size: 5vw;
}